<h1>Listing change_logs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Program</th>
      <th>Content</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @change_logs.each do |change_log| %>
      <tr>
        <td><%= change_log.title %></td>
        <td><%= change_log.program %></td>
        <td><%= change_log.content %></td>
        <td><%= change_log.author %></td>
        <td><%= link_to 'Show', change_log %></td>
        <td><%= link_to 'Edit', edit_change_log_path(change_log) %></td>
        <td><%= link_to 'Destroy', change_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Change log', new_change_log_path %>
