<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>作者:</strong>
  <%= @post.author.email %>
</p>

<div class='content'>
  <%= @markdown.render(@post.content).html_safe %>
</div>

<p>
  <strong>谁读过这篇文章:</strong>
  <%= @post.viewers.map(&:email).join(',') %>
</p>

<% if @post.author?(current_user) %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
